<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IS412_NET_Implementation_Final_Project.Properties.Settings.connString"
            connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=Database1;Integrated Security=True;Pooling=False;Connect Timeout=30" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>